[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
bs4 = "*"
requests = "*"
pandas = "*"
openpyxl = "*"
inquirerpy = "*"
python-dotenv = "*"
pyside6 = "*"
rich="*"
yt-dlp = "*"

[dev-packages]
dotenv = "*"

[requires]
python_version = "3.12"
