[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyodbc = "*"
bs4 = "*"
requests = "*"
pandas = "*"
openpyxl = "*"
youtube-dl = "*"
yt-dlp = "*"
inquirerpy = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
